{% extends 'base.html' %}
{% load static %}

{% block content %}

<img class="pattern" src="{% static 'images/5a2a05f7dfc143.2888431815127034799165.png' %}" alt="">
    <section id="sign_up_heading">
        <h1 class="sign_up_heading">SIGN UP!</h1>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="row row1">
                <div class="col">
                    First Name: {{ form.first_name }}
                </div>
                <div class="col">
                    Last Name: {{ form.last_name }}
                </div>
            </div>
            <div class="row row2">
                <div class="col">
                    Email: {{ form.email }}
                </div>
                <div class="col">
                    Phone No.: {{form.phone_number}}
                </div>
            </div>

            <div class="row row4">
                <div class="col">Password: {{form.password}}
                <div class="col" style="margin-top: 20px;">Confirm Password: {{form.confirm_password}}
            </div>
            <button class="signupbutton" style="margin: 20px 0px;">Sign Up</button>
            {{form.email.errors}}
            {{form.non_field_errors}}
        </form>
        <div type="submit" class="option">Already Have an account? <a href="{% url 'login' %}" style="text-align: center;">Login</a></div>
    </section>
</section>


{% endblock %}
