{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        {% if not cart_items %}
        <h2 class="text-center">Your Shopping Cart is Empty</h2>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
        {% else %}
        <img class="pattern" src="images/5a2a05f7dfc143.2888431815127034799165.png" alt="">
        <section class="cart">
            <h1>YOUR CART</h1>
            <hr>
            {% for cart_item in cart_items %}
            <div class="c_p">
                <hr>
                <div>
                    <div class="d_f">
                        <img class="img_p" src="{{ cart_item.product.images.url }}" alt="">
                        <div class="d_i">
                            <div class="d_f">
                                <div class="m_h">{{ cart_item.product.product_name }}</div>
                                <div class="an">{{ cart_item.product.artist }}</div>
                            </div>
                            <div class="d_f" id="quantity">
                                <div class="quantity">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <a href="{% url 'remove_cart' cart_item.product.id %}" class="btn btn-light"
                                                type="button" id="button-plus"><i class="fa fa-minus"></i></a>
                                        </div>
                                        <input width="15px" type="text" class="form-control" value="{{ cart_item.quantity }}">
                                        <div class="input-group-append">
                                            <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-light"
                                                type="button" id="button-minus"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'remove_item' cart_item.product.id %}"><img class="img_d"
                                        src="{% static 'images/delete.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="price">₹{{ cart_item.sub_total }}</div>
                    </div>

                </div>
            </div>
            {% endfor %}
            <div>
                <div class="details">DETAILS</div>
                <hr>
                <div class="row float1">
                    <div class="col">
                        <div class="f_l">Total MRP</div>
                        <div class="f_l">Taxes</div>
                    </div>
                    <div class="col">
                        <div class="f_r">₹{{ total }}</div>
                        <div class="f_r">₹{{ tax }}</div>
                    </div>
                </div>
                <hr>
                <div class="f_l">Total Amount</div>
                <div class="f_r">₹{{ grand_total }}</div>
            </div>
            <div class="b_d"> <a href="{% url 'checkout' %}"><button class="checkout_btn"> Checkout</button></a> </div>
        </section>
        {% endif %}
    </div>
</section>

{% endblock %}