{% extends 'base.html' %}
{% load static %}

{% block content %}

<img class="pattern" src="{% static 'images/5a2a05f7dfc143.2888431815127034799165.png' %}" alt="">
<section class="c_o">
    <h1 class="checkout">CHECKOUT</h1>
    <hr>
    <div class="checkout_grid_main">

        <div class="billing_ad">
            <h1>Billing Address</h1>
            <form action="{% url 'place_order' %}" method="POST">
                {% csrf_token %}
                <div class="row row1">
                    <div class="col">First Name:
                        <input type="text" name="first_name" required>
                    </div>
                    <div class="col">Last Name:
                        <input type="text" name="last_name" required>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col">Email:
                        <input type="email" name="email" required>
                    </div>
                    <div class="col">Phone No.:
                        <input type="text" name="phone" required>
                    </div>
                </div>
                <div class="row row3">
                    <div class="col">Address Line 1:
                        <input type="text" name="address_line_1" required>
                    </div>
                    <div class="col">Address Line 2:
                        <input type="text" name="address_line_2">
                    </div>
                </div>
                <div class="row row4">
                    <div class="col">City:
                        <input type="text" name="city" required>
                    </div>
                    <div class="col">State:
                        <input type="text" name="state" required>
                    </div>
                    <div class="col">Country:
                        <input type="text" name="country" required>
                    </div>
                </div>
                <div class="row row5">
                    <div class="col">Order Note:
                        <input name="order_note" type="text">
                    </div>
                </div>

        </div>
        <div class="p_c">
            {% for cart_item in cart_items %}
            <div class="p">
                <hr>
                <div class="p_f">
                    <img class="i_c" src="{{ cart_item.product.images.url }}" alt="">
                    <div class="pn_an">
                        <div class="pn_c">{{ cart_item.product.product_name }}</div>
                        <div class="an_c">{{ cart_item.product.artist }}</div>
                    </div>

                    <div class="pp_c">₹{{ cart_item.product.price }}/-</div>
                </div>
            </div>
            {% endfor %}
            <div class="p">
                <hr>
                <div class="row float1">
                    <div class="col">
                        <div class="f_l">Total MRP</div>
                        <div class="f_l">Taxes</div>
                    </div>
                    <div class="col">
                        <div class="f_r">₹{{total}}/-</div>
                        <div class="f_r">₹{{tax}}/-</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col f_l">Total Amount</div>
                    <div class="col f_r">₹{{grand_total}}/-</div>
                </div>
                <button type="submit" class="po c_btn">Place Order</button>
                <button class="cs c_btn"><a href="{% url 'store' %}">Continue Shopping</a></button>
                </form>
            </div>


        </div>
    </div>
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}