{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="content_p">
    <div class="fp_pp">
        <div class="col1">
            <div><img class="pp_img2" src="{{ single_product.images.url }}" alt=""></div>
            <div><img class="pp_img2" src="{{ single_product.images.url }}" alt=""></div>
            <div><img class="pp_img" src="{{ single_product.images.url }}" alt=""></div>
            <div class="circle_bg"></div>
        </div>
        <div class="col2">
            <div class="h_pp">
                <h1 class="pp_heading">{{ single_product.product_name }}</h1>
                <span class="is">IN STOCK</span>
            </div>
            <div class="an">{{single_product.artist}}</div>
            <div class="price">₹{{ single_product.price }}/-</div>
            <hr>
            <div class="shop_p">
                <!-- <div class="quantity">
                    <button class="n_c">-</button>
                    <button class="p_c">+</button>
                </div> -->
                <span class="atc"> <a href="{% url 'add_cart' single_product.id %}">Add to cart<img src="{% static 'images/add-to-cart.png' %}" alt=""></a></span>
                <span class="bn"> <a href="{% url 'add_cart' single_product.id %}">Buy Now</a> </span>
            </div>
            <div class="p_d">{{ single_product.description }}</div>
        </div>
    </div>
    <div class="reviews_pp">
        <div class="your_rv">
            <h1>Write Your Reviews</h1>
            <div class="y_r">
                <form action="{% url 'submit_review' single_product.id %}" method="POST">
                {% csrf_token %}
                <!-- <div class="s_circle"></div> -->
                <input class="comment_text" type="text" placeholder="Write Review for the Product" >
                <input type="submit" value="Submit Review" class="btn btn-primary" style="margin-left: 25px;">
                </form>
            </div>
            <hr>
            <div class="rev_scroll">
                <h1>Customer Reviews</h1>
                {% for review in reviews %}
                <div class="y_r">
                    <!-- <div class="s_circle"></div> -->
                    <div>
                        <div class="commentuser">{{review.user.full_name}} </div>
                        <div class="comment">{{review.review}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
