{% extends 'base.html' %}
{% load static %}
{% block content %}
<img class="pattern" src="images/5a2a05f7dfc143.2888431815127034799165.png" alt="">

<section id="store">

    <img class="img1"
        src="{% static 'images/kisspng-mandala-buddhism-ornament-pattern-blue-mandala-pattern-5a6b87e4dd3db4.7968834815169965809062.png' %}"
        alt="">
    <img class="img2"
        src="{% static 'images/kisspng-mandala-buddhism-ornament-pattern-blue-mandala-pattern-5a6b87e4dd3db4.7968834815169965809062.png' %}"
        alt="">
    <img class="img3"
        src="{% static 'images/kisspng-mandala-buddhism-ornament-pattern-blue-mandala-pattern-5a6b87e4dd3db4.7968834815169965809062.png' %}"
        alt="">
    <h1>ALL PRODUCTS</h1>
    <h3>{{ products|length }} Products Found</h3>
    <div class="main_grid_">
        <div class="side_box">
            <div class="price_range_div">
                <div class="subh">PRICE RANGE</div>
                <div class="row">
                    <div class="col cl">
                        <div>Min</div>
                        <button class="bt">500Rs</button>
                    </div>
                    <div class="col btw">---</div>
                    <div class="col cl">
                        <div>Min</div>
                        <button class="bt">500Rs</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="categories">
                <div class="subh">CATEGORIES</div>
                <div class="cat_scroll">
                    <div><a href="{% url 'store' %}" style="text-decoration: none; color: #552808;">All Categories </a></div>
                    {% for category in links %}
                    <div><a href="{{ category.get_url }}" style="text-decoration: none; color: #552808;">{{ category.category_name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="color">
                <div class="subh">COLORS</div>
                <div class="row">
                    <!-- <div class="col clr" id="pink" style="background-color: pink;"></div> -->
                    <div class="col clr" id="red" style="background-color: red;"></div>
                    <!-- <div class="col clr" id="orange" style="background-color: orange"></div> -->
                    <div class="col clr" id="yellow" style="background-color: yellow;"></div>
                    <div class="col clr" id="green" style="background-color: rgb(110, 174, 15);"></div>
                    <div class="col clr" id="blue" style="background-color: blue;"></div>
                    <!-- <div class="col clr" id="voilet" style="background-color: purple;"></div> -->
                    <div class="col clr" id="black" style="background-color: black;"></div>
                    <div class="col clr" id="white" style="background-color: white;"></div>
                </div>
                <div class="row">
                    <button class="col btnn">RESET</button>
                    <button class="col btnn">APPLY</button>
                </div>

            </div>
        </div>
        <div class="main_content">
            <!---------------secound section------------------->

            <section>
                <div class="atwo_grid">
                    <!-- 4col/ 2row -->
                    <div class="row">
                        {% for product in products %}
                        <div class="col col_css">
                            <a href="{{ product.get_url }}"><img class="atwo_img1" src="{{ product.images.url }}"
                                    alt=""></a>
                            <!-- <div class="atwo_an">{{product.artist}}</div> -->
                            <div class="atwo_pn">{{ product.product_name }}</div>
                            <div class="atwo_p1">₹ {{ product.price }}</div>
                            <button class="bttn"><a href="{% url 'add_cart' product.id %}">Add To Cart</a></button>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="row" id="pg_num">
                            <div class="col" id="sub_ar"><</div>
                            <div class="col" id="sub_num">1</div>
                            <div class="col" id="sub_num">2</div>
                            <div class="col" id="sub_num">3</div>
                            <div class="col" id="sub_ar">></div>
                    </div> -->
                    <nav class="mt-4" aria-label="Page navigation sample">

                        {% if products.has_other_pages %}
                        <ul class="pagination">
                            {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{products.previous_page_number}}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item-disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{products.next_page_number}}">Next</a></li>
                            {% else %}
                            <li class="page-item-disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
            </section>
        </div>
    </div>

</section>
{% endblock %}