{% extends 'base.html' %}
{% load static %}

{% block content %}


 <img class="pattern" src="{% static 'images/5a2a05f7dfc143.2888431815127034799165.png' %}" alt="">
    <section class="place_order">
        <h1><span class="po_heading">Review Your Order and Make Payment</span></h1>
        <hr>
        <div class="po_grid">
            <div class="grid_1">
                <div>
                    <h2>Billing Address</h2>
                    <div>{{order.full_name}}</div>
                    <div>{{order.full_address}}</div>
                    <div>{{order.city}}, {{order.state}}</div>
                    <div>{{order.country}}</div>
                    <div>{{order.email}}</div>
                    <div>{{order.phone}}</div>
                    {% if order.order_note %}
                    <b>Order Note: </b>
                    <div>{{order.order_note}}</div>
                    {% endif %}
                </div>
                <hr>
                <div>
                    <h2>Payment Method</h2>
                    <div>PayPal</div>
                </div>
                <hr>
                <div>
                    <h2>Review Products</h2>
                    <div class="product_h">
                        <span class="f_left">Product</span>
                        <div class="f_right">
                            <span>Quantity</span>
                            <span>Price</span>
                        </div>

                    </div>
                    {% for cart_item in cart_items %}
                    <div class="Product">
                        <hr>
                        <div class="f_left">
                            <img src="{{ cart_item.product.images.url }}" alt="">
                            <span>{{ cart_item.product.product_name }}</span>
                        </div>
                        <div class="f_right">
                            <span>{{cart_item.quantity}}</span>
                            <span>${{ cart_item.sub_total }}</span>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="grid_2">
                <div>
                    <span class="f_left">Total price:</span>
                    <span class="f_right">${{total}}</span>
                </div>
                <div>
                    <span class="f_left">Tax:</span>
                    <span class="f_right">${{tax}}</span>
                </div>
                <div>
                    <span class="f_left">Grand Total:</span>
                    <span class="f_right">${{grand_total}}</span>
                </div>
                <div class="cards_img">
                    <img class="pay_cards" src="{% static 'images/paypal.png' %}" alt="">
                    <img class="pay_cards" src="{% static 'images/visa.png' %}" alt="">
                    <img class="pay_cards" src="{% static 'images/mastercard.png' %}" alt="">
                    <img class="pay_cards" src="{% static 'images/american-express.png' %}" alt="">
                </div>
                <div id="paypal-button-container">
                    <!-- PayPal Button Will Load -->
                </div>
            </div>
        </div>
    </section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>

	function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

	var amount = "{{ grand_total }}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	var payment_method = 'PayPal'
	var redirect_url = "{% url 'order_complete' %}"
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		style: {
			color: 'blue',
			shape: 'rect',
			label: 'pay',
			height: 40
		},

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: amount,
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				// Show a success message to the buyer
				console.log(details);
				sendData();
				function sendData(){
					fetch(url, {
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							transID: details.id,
							payment_method: payment_method,
							status: details.status,
						}),
					})
				  .then((response) => response.json())
				  .then((data) => {
						window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
					});
				}
			});
		}


	}).render('#paypal-button-container');
</script>

{% endblock %}